{% extends 'template.html.twig' %}

{% block body %}

{{ include('fragment/date-jour.html.twig') }}
    <table class="table">

        <tr class="table-active">
            <td>Nom</td>
            <td>Prenom</td>
            <td>Age</td>
        </tr>

        {% for user in users %}
        <tr class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}">
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
        
    </table>
{% endblock %}

{% block PageTitle %}
Users
{% endblock %}

{% block title %}Users{% endblock %}