{% extends 'template.html.twig' %}

{% block title %}

{% endblock %}

{% block PageTitle %}

{% endblock %}

{% block body %}

 	{{ form_start(form) }}
	<div class="row">
		<div class="col">{{ form_row(form.name) }}</div>
		<div class="col">{{ form_row(form.fistname) }}</div>
	</div>
	{{ form_rest(form) }}

	{% endblock %}

